element.style:hover {
}

element.style:hover {
  box-shadow: 2px 3px 3px rgb(0,0,0, 0.15);
}

.btn:hover {
  /*drop-shadow: 2px 3px 3px rgb(0,0,0, 0.15);*/
  filter: drop-shadow(0 0 0.15rem rgb(0,0,0, 0.15) );
  transition: all ease 0.2s;
}

.card:hover {
  filter: drop-shadow(0 0 0.22rem rgb(0,0,0, 0.15));
  transition: all ease 0.2s;
}

.tag {
  color:rgb(118 97 157)!important;
}