body {
  z-index:none!important;
  y-index:none!important;
}

element.style:hover {
  box-shadow: 2px 3px 3px rgb(0,0,0, 0.15);
}

.btn:hover {
  /*drop-shadow: 2px 3px 3px rgb(0,0,0, 0.15);*/
  filter: drop-shadow(0 0 0.15rem rgb(0,0,0, 0.15) );
  transition: all ease 0.2s;
}

.card:hover {
  filter: drop-shadow(0 0 0.22rem rgb(0,0,0, 0.15));
  transition: all ease 0.2s;
}

#tag {
  color: #7b5cb5!important;
}

#trademark::before {
  content:'obedience';
  color:gray;
  opacity:0.6;
  font-size:x-large;
  transition: all 1s ease-in-out;
}

#trademark:hover::before {
  content:'i ❤ connor';
  color:white;
  font-size:xx-large;
  opacity:1;
}
